.flow-canvas {
  flex: 1;
  height: 100%;
  
  .flow-canvas-card {
    height: 100%;
    
    .arco-card-body {
      height: 100%;
      padding: 0;
    }
  }
  
  .flow-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    
    .react-flow {
      height: 100%;
      width: 100%;
    }
  }
}
